SRR1556296_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
SRR1556296_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
SRR1556289_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
SRR1556289_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
